{
  "openapi": "3.0.0",
  "info": {
    "title": "Tradier Brokerage API",
    "description": "API for accessing Tradier brokerage services",
    "version": "1.0.45"
  },
  "servers": [
    {
      "url": "https://api.tradier.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.tradier.com",
      "description": "Sandbox environment for testing"
    }
  ],
  "paths": {
    "/v1/user/profile": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Profile",
        "description": "Get the profile information for the current user",
        "operationId": "brokerage-api-user-get-profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                },
                "example": {
                  "profile": {
                    "id": "id-123456",
                    "name": "John Doe",
                    "account": [
                      {
                        "account_number": "VA000001",
                        "classification": "individual",
                        "date_created": "2015-01-01T15:25:47.000Z",
                        "day_trader": true,
                        "option_level": 4,
                        "status": "active",
                        "type": "margin",
                        "last_update_date": "2015-01-01T15:25:47.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Balance",
        "description": "Get the current account balance and margin information.",
        "operationId": "brokerage-api-accounts-get-account-balance",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                },
                "example": {
                  "balance": {
                    "balances": {
                      "option_short_value": 0,
                      "total_equity": 17798.360000000000000000000000,
                      "account_number": "VA00000000",
                      "account_type": "margin",
                      "close_pl": -4813.000000000000000000,
                      "current_requirement": 2557.00000000000000000000,
                      "equity": 0,
                      "long_market_value": 11434.50000000000000000000,
                      "market_value": 11434.50000000000000000000,
                      "open_pl": 546.900000000000000000000000,
                      "option_long_value": 8877.5000000000000000000,
                      "option_requirement": 0,
                      "pending_orders_count": 0,
                      "short_market_value": 0,
                      "stock_long_value": 2557.00000000000000000000,
                      "total_cash": 6363.860000000000000000000000,
                      "uncleared_funds": 0,
                      "pending_cash": 0
                    },
                    "margin": {
                        "fed_call": 0,
                        "maintenance_call": 0,
                        "option_buying_power": 6363.860000000000000000000000,
                        "stock_buying_power": 12727.7200000000000000,
                        "stock_short_value": 0,
                        "sweep": 0
                    },
                    "cash": {
                        "cash_available": 4343.38000000,
                        "sweep": 0,
                        "unsettled_funds": 1310.00000000
                    },
                    "pdt": {
                        "fed_call": 0,
                        "maintenance_call": 0,
                        "option_buying_power": 6363.860000000000000000000000,
                        "stock_buying_power": 12727.7200000000000000,
                        "stock_short_value": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/historical-balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account's Balances Overtime",
        "description": "Get the historical account balances to track value over time",
        "operationId": "brokerage-api-accounts-get-account-historical-balance",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEEK",
                "MONTH",
                "YTD",
                "YEAR",
                "YEAR_3",
                "YEAR_5",
                "ALL"
              ]
            },
            "description": "Type of activities to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Account historical balance information",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "balances": [
                      {"date": "2025-07-15","value": 113302.40},
                      {"date": "2025-07-16","value": 114357.75},
                      {"date": "2025-07-17","value": 115334.62},
                      {"date": "2025-07-18","value": 114963.65},
                      {"date": "2025-07-21","value": 116083.06}
                  ],
                  "delta": 2780.66,
                  "deltaPercent": 2.45
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/positions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Positions",
        "description": "Get the current positions being held in an account",
        "operationId": "brokerage-api-accounts-get-account-positions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Account positions information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsResponse"
                },
                "example": {
                  "positions": {
                    "position": [
                      {
                        "cost_basis": 7954.16,
                        "date_acquired": "2015-01-01T15:25:47.230Z",
                        "id": 40,
                        "quantity": 37,
                        "symbol": "AAPL"
                      },
                      {
                        "cost_basis": 82.75,
                        "date_acquired": "2014-09-01T15:25:47.230Z",
                        "id": 41,
                        "quantity": -2,
                        "symbol": "NFLX"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/position-groups": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Position Groups",
        "description": "Retrieves all position groups for a specific account.",
        "operationId": "brokerage-api-accounts-get-account-position-groups",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Position groups information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionGroupsResponse"
                },
                "example": {
                  "position-groups": [
                    {
                      "id": 1,
                      "label": "TROW Covered Call",
                      "symbols": [
                        "TROW",
                        "TROW260116C00125000"
                      ]
                    },
                    {
                      "id": 2,
                      "label": "Degen Put Strategy",
                      "symbols": [
                        "ETHA251219C00026000",
                        "ETHA251219P00025000"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create a New Position Group",
        "description": "Creates a new position group for a specific account.",
        "operationId": "brokerage-api-accounts-post-account-position-groups",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "symbols"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "A position group name"
                  },
                  "symbols": {
                    "type": "string",
                    "description": "Comma-delimited list of symbols to add to the position group"
                  }
                }
              },
              "example": {
                "label": "Big Tech",
                "symbols": "AAPL,MSFT,GOOGL,AMZN"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionGroupsResponse"
                },
                "example": {
                  "position-groups": [
                    {
                      "id": 1,
                      "label": "Magnificent 7",
                      "symbols": [
                        "AAPL",
                        "MSFT",
                        "GOOGL",
                        "AMZN",
                        "NVDA",
                        "TSLA",
                        "META"
                      ]
                    },
                    {
                      "id": 2,
                      "label": "Medical Plays",
                      "symbols": [
                        "UNH",
                        "PFE",
                        "JNJ"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/position-groups/{position_group_id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update Position Group",
        "description": "Updates an existing position group for a specific account.",
        "operationId": "brokerage-api-accounts-put-account-position-groups",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/PositionGroupIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "symbols"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "A position group name"
                  },
                  "symbols": {
                    "type": "string",
                    "description": "Comma-delimited list of symbols to add to the position group"
                  }
                }
              },
              "example": {
                "label": "Medical Plays Updated",
                "symbols": "MRK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionGroupResponse"
                },
                "example": {
                  "position-group": {
                    "id": 2,
                    "label": "Medical Plays Updated",
                    "symbols": [
                      "UNH",
                      "PFE",
                      "JNJ",
                      "MRK"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete a Position Group",
        "description": "Deletes a position group for a specific account.",
        "operationId": "brokerage-api-accounts-delete-account-position-groups",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/PositionGroupIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Position group deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Position group deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account History",
        "description": "Get historical activity for an account",
        "operationId": "brokerage-api-accounts-get-account-history",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of events to return"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trade",
                "option",
                "ach",
                "wire",
                "dividend",
                "fee",
                "tax",
                "journal",
                "check",
                "transfer",
                "adjustment"
              ]
            },
            "description": "Type of activities to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Account history information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                },
                "example": {
                  "history": {
                    "event": [
                      {
                        "date": "2015-04-01T15:25:47.000Z",
                        "type": "trade",
                        "symbol": "AAPL",
                        "quantity": 10,
                        "price": 124,
                        "amount": 1240,
                        "description": "Bought 10 AAPL @ 124.00",
                        "commission": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/gainloss": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Gain/Loss",
        "description": "Get cost basis and gain/loss information for an account. This includes information for all closed positions. Cost basis information is updated through a nightly batch reconciliation process with our clearing firm",
        "operationId": "brokerage-api-accounts-get-account-gainloss",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Set a max number of number of positions to return"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "closedate",
                "opendate",
                "symbol",
                "gainloss"
              ],
              "default": "closedate"
            },
            "description": "Sort the results by specified field"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction (ascending/descending)"
          }
        ],
        "responses": {
          "200": {
            "description": "Account gain/loss information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GainLossResponse"
                },
                "example": {
                  "gainloss": {
                    "closed_position": [
                      {
                        "close_date": "2015-03-01T15:25:47.000Z",
                        "cost": 1450,
                        "gain_loss": 36.5,
                        "gain_loss_percent": 2.51,
                        "open_date": "2015-02-01T15:25:47.000Z",
                        "proceeds": 1486.5,
                        "quantity": 10,
                        "symbol": "AAPL",
                        "term": 28
                      }
                    ],
                    "page": 1,
                    "total_pages": 2,
                    "total_positions": 27
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Orders",
        "description": "Get current market session orders for an account.",
        "operationId": "brokerage-api-accounts-get-account-orders",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": null
            },
            "description": "A sing or list of order statuses to be filtered for. Can be one or more of: pending,open,partially_filled,filled,rejected,expired,canceled"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum number of order to be returned, 25 is defualt but you can set a high number such as 1000 to retrieve all your orders from this market session in one call"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination which is only useful for very large numbers of order broken into pages for faster retrieval"
          },
          {
            "name": "includeTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include user-defined tags in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Account orders information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                },
                "example": {
                  "orders": {
                    "order": [
                      {
                        "id": 123456,
                        "type": "market",
                        "symbol": "AAPL",
                        "side": "buy",
                        "quantity": 10,
                        "status": "filled",
                        "duration": "day",
                        "avg_fill_price": 128.25,
                        "exec_quantity": 10,
                        "create_date": "2015-04-01T15:25:47.000Z",
                        "transaction_date": "2015-04-01T15:25:47.000Z",
                        "class": "equity"
                      },
                      {
                        "id": 228749,
                        "type": "market",
                        "symbol": "SPY",
                        "side": "buy_to_open",
                        "quantity": 1.00000000,
                        "status": "expired",
                        "duration": "pre",
                        "avg_fill_price": 0.00000000,
                        "exec_quantity": 0.00000000,
                        "last_fill_price": 0.00000000,
                        "last_fill_quantity": 0.00000000,
                        "remaining_quantity": 0.00000000,
                        "create_date": "2018-06-06T20:16:17.342Z",
                        "transaction_date": "2018-06-06T20:16:17.357Z",
                        "class": "option",
                        "option_symbol": "SPY180720C00274000"
                      },
                      {
                        "id": 229063,
                        "type": "debit",
                        "symbol": "SPY",
                        "side": "buy",
                        "quantity": 1.00000000,
                        "status": "canceled",
                        "duration": "pre",
                        "price": 42.0,
                        "avg_fill_price": 0.00,
                        "exec_quantity": 0.00000000,
                        "last_fill_price": 0.00000000,
                        "last_fill_quantity": 0.00000000,
                        "remaining_quantity": 0.00000000,
                        "create_date": "2018-06-12T21:13:36.076Z",
                        "transaction_date": "2018-06-12T21:18:41.604Z",
                        "class": "combo",
                        "num_legs": 2,
                        "strategy": "covered call",
                        "leg": [
                          {
                            "id": 229064,
                            "type": "debit",
                            "symbol": "SPY",
                            "side": "buy",
                            "quantity": 100.00000000,
                            "status": "canceled",
                            "duration": "pre",
                            "price": 42.0,
                            "avg_fill_price": 0.00000000,
                            "exec_quantity": 0.00000000,
                            "last_fill_price": 0.00000000,
                            "last_fill_quantity": 0.00000000,
                            "remaining_quantity": 0.00000000,
                            "create_date": "2018-06-12T21:13:36.076Z",
                            "transaction_date": "2018-06-12T21:18:41.587Z",
                            "class": "equity"
                          },
                          {
                            "id": 229065,
                            "type": "debit",
                            "symbol": "SPY",
                            "side": "sell_to_close",
                            "quantity": 1.00000000,
                            "status": "canceled",
                            "duration": "pre",
                            "price": 42.0,
                            "avg_fill_price": 0.00000000,
                            "exec_quantity": 0.00000000,
                            "last_fill_price": 0.00000000,
                            "last_fill_quantity": 0.00000000,
                            "remaining_quantity": 0.00000000,
                            "create_date": "2018-06-12T21:13:36.076Z",
                            "transaction_date": "2018-06-12T21:18:41.597Z",
                            "class": "option",
                            "option_symbol": "SPY180720C00274000"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Order",
        "description": "Place a trading order. Supports equity, option, multileg, combo, OTO, OCO, and OTOCO order types.",
        "operationId": "brokerage-api-trading-place-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EquityOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OptionOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MultilegOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ComboOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OTOOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OCOOrderRequest"
                  },
                  {
                    "$ref": "#/components/schemas/OTOCOOrderRequest"
                  }
                ],
                "discriminator": {
                  "propertyName": "class",
                  "mapping": {
                    "equity": "#/components/schemas/EquityOrderRequest",
                    "option": "#/components/schemas/OptionOrderRequest",
                    "multileg": "#/components/schemas/MultilegOrderRequest",
                    "combo": "#/components/schemas/ComboOrderRequest",
                    "oto": "#/components/schemas/OTOOrderRequest",
                    "oco": "#/components/schemas/OCOOrderRequest",
                    "otoco": "#/components/schemas/OTOCOOrderRequest"
                  }
                }
              },
              "examples": {
                "equityOrder": {
                  "summary": "Equity Order",
                  "value": {
                    "class": "equity",
                    "symbol": "AAPL",
                    "side": "buy",
                    "quantity": 10,
                    "type": "market",
                    "duration": "day"
                  }
                },
                "optionOrder": {
                  "summary": "Option Order",
                  "value": {
                    "class": "option",
                    "symbol": "AAPL",
                    "option_symbol": "AAPL210416C00125000",
                    "side": "buy_to_open",
                    "quantity": 1,
                    "type": "limit",
                    "duration": "day",
                    "price": 3.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/equity": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Equity Order",
        "description": "Place an equity order. Send to `POST /v1/accounts/{account_id}/orders` with `class=equity`.",
        "operationId": "brokerage-api-trading-place-equity-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EquityOrderRequest"
              },
              "example": {
                "class": "equity",
                "symbol": "AAPL",
                "side": "buy",
                "quantity": 10,
                "type": "market",
                "duration": "day"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/option": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Option Order",
        "description": "Place a single-leg option order. Send to `POST /v1/accounts/{account_id}/orders` with `class=option`.",
        "operationId": "brokerage-api-trading-place-option-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OptionOrderRequest"
              },
              "example": {
                "class": "option",
                "symbol": "AAPL",
                "option_symbol": "AAPL210416C00125000",
                "side": "buy_to_open",
                "quantity": 1,
                "type": "limit",
                "duration": "day",
                "price": 3.5
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/multileg": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Multileg Order",
        "description": "Place a multileg option order (up to 4 option legs). Send to `POST /v1/accounts/{account_id}/orders` with `class=multileg`.",
        "operationId": "brokerage-api-trading-place-multileg-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MultilegOrderRequest"
              },
              "example": {
                "class": "multileg",
                "symbol": "AAPL",
                "type": "debit",
                "duration": "day",
                "price": 1.5,
                "option_symbol[0]": "AAPL210416C00125000",
                "side[0]": "buy_to_open",
                "quantity[0]": 1,
                "option_symbol[1]": "AAPL210416C00130000",
                "side[1]": "sell_to_open",
                "quantity[1]": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/combo": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Combo Order",
        "description": "Place a combo order consisting of one equity leg and one or two option legs. Send to `POST /v1/accounts/{account_id}/orders` with `class=combo`.",
        "operationId": "brokerage-api-trading-place-combo-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ComboOrderRequest"
              },
              "example": {
                "class": "combo",
                "symbol": "AAPL",
                "type": "debit",
                "duration": "day",
                "price": 2.0,
                "side[0]": "buy",
                "quantity[0]": 100,
                "option_symbol[1]": "AAPL210416C00125000",
                "side[1]": "sell_to_open",
                "quantity[1]": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/oco": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place OCO Order",
        "description": "Place a one-cancels-other (OCO) order composed of two simultaneous orders. If one executes, the other is automatically canceled. Send to `POST /v1/accounts/{account_id}/orders` with `class=oco`.\n\n**Validations:**\n- `type` must be different for both legs.\n- If both orders are equities, the `symbol` must be the same.\n- If both orders are options, the `option_symbol` must be the same.\n- If sending `duration` per leg, both orders must have the same duration.",
        "operationId": "brokerage-api-trading-place-oco-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OCOOrderRequest"
              },
              "example": {
                "class": "oco",
                "duration": "gtc",
                "symbol[0]": "AAPL",
                "quantity[0]": 10,
                "type[0]": "limit",
                "side[0]": "sell",
                "price[0]": 150.00,
                "symbol[1]": "AAPL",
                "quantity[1]": 10,
                "type[1]": "stop",
                "side[1]": "sell",
                "stop[1]": 120.00
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/oto": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place OTO Order",
        "description": "Place a one-triggers-other (OTO) order composed of two simultaneous orders. If the first order executes, the second order is automatically placed. Send to `POST /v1/accounts/{account_id}/orders` with `class=oto`.",
        "operationId": "brokerage-api-trading-place-oto-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OTOOrderRequest"
              },
              "example": {
                "class": "oto",
                "duration": "day",
                "symbol[0]": "AAPL",
                "quantity[0]": 10,
                "type[0]": "limit",
                "side[0]": "buy",
                "price[0]": 130.00,
                "symbol[1]": "AAPL",
                "quantity[1]": 10,
                "type[1]": "stop",
                "side[1]": "sell",
                "stop[1]": 120.00
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/otoco": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place OTOCO Order",
        "description": "Place a one-triggers-one-cancels-other (OTOCO) order composed of three simultaneous orders. The first order, when executed, triggers an OCO between the second and third orders. Send to `POST /v1/accounts/{account_id}/orders` with `class=otoco`.\n\n**Validations:**\n- If all equity orders, second and third orders must have the same symbol.\n- If all option orders, second and third orders must have the same `option_symbol`.\n- Only the first leg may be a Market order type.\n- Second and third orders must always have a different type.\n- If sending `duration` per leg, second and third orders must have the same duration.",
        "operationId": "brokerage-api-trading-place-otoco-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OTOCOOrderRequest"
              },
              "example": {
                "class": "otoco",
                "duration": "day",
                "symbol[0]": "AAPL",
                "quantity[0]": 10,
                "type[0]": "limit",
                "side[0]": "buy",
                "price[0]": 130.00,
                "symbol[1]": "AAPL",
                "quantity[1]": 10,
                "type[1]": "limit",
                "side[1]": "sell",
                "price[1]": 150.00,
                "symbol[2]": "AAPL",
                "quantity[2]": 10,
                "type[2]": "stop",
                "side[2]": "sell",
                "stop[2]": 120.00
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/{order_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Order",
        "description": "Get a specific order by ID",
        "operationId": "brokerage-api-get-account-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the order",
            "example": 123456
          },
          {
            "name": "includeTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include user-defined tags in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Account order information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                },
                "example": {
                  "order": {
                    "id": 123456,
                    "type": "market",
                    "symbol": "AAPL",
                    "side": "buy",
                    "quantity": 10,
                    "status": "filled",
                    "duration": "day",
                    "avg_fill_price": 128.25,
                    "exec_quantity": 10,
                    "last_fill_price": 128.25,
                    "last_fill_quantity": 10,
                    "remaining_quantity": 0,
                    "create_date": "2015-04-01T15:25:47.000Z",
                    "transaction_date": "2015-04-01T15:25:47.000Z",
                    "class": "equity"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Trading"
        ],
        "summary": "Change Order",
        "description": "Modify an existing order",
        "operationId": "brokerage-api-trading-change-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the order to modify",
            "example": 123456
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "market",
                      "limit",
                      "stop",
                      "stop_limit"
                    ],
                    "description": "The new order type"
                  },
                  "duration": {
                    "type": "string",
                    "enum": [
                      "day",
                      "gtc",
                      "pre",
                      "post"
                    ],
                    "description": "The new order duration"
                  },
                  "price": {
                    "type": "number",
                    "format": "float",
                    "description": "The new limit price (required for limit and stop_limit orders)"
                  },
                  "stop": {
                    "type": "number",
                    "format": "float",
                    "description": "The new stop price (required for stop and stop_limit orders)"
                  },
                  "tag": {
                    "type": "string",
                    "description": "User-defined tag for the order"
                  }
                }
              },
              "example": {
                "type": "limit",
                "duration": "day",
                "price": 129.5
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrderResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an existing order",
        "operationId": "brokerage-api-trading-cancel-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the order to cancel",
            "example": 123456
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancellation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "The order ID"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok",
                            "pending_cancel"
                          ],
                          "description": "The status of the cancellation"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": 123456,
                    "status": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/markets/quotes": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Quotes",
        "description": "Get quotes for one or more symbols",
        "operationId": "brokerage-api-markets-get-quotes",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of symbols",
            "example": "AAPL,SPY"
          },
          {
            "name": "greeks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include greek calculations for options"
          },
          {
            "name": "includeLotSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include lot size information"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesResponse"
                },
                "example": {
                  "quotes": {
                    "quote": {
                      "symbol": "AAPL",
                      "description": "Apple Inc",
                      "exch": "Q",
                      "type": "stock",
                      "last": 273.47,
                      "change": -1.78,
                      "volume": 47994892,
                      "open": 275,
                      "high": 275.73,
                      "low": 271.7,
                      "close": 273.47,
                      "bid": 273.53,
                      "ask": 273.59,
                      "change_percentage": -0.65,
                      "average_volume": 50967638,
                      "last_volume": 0,
                      "trade_date": 1762982100011,
                      "prevclose": 275.25,
                      "week_52_high": 277.32,
                      "week_52_low": 169.2101,
                      "bidsize": 100,
                      "bidexch": "Z",
                      "bid_date": 1762982138000,
                      "asksize": 200,
                      "askexch": "Q",
                      "ask_date": 1762982257000,
                      "root_symbols": "AAPL",
                      "lot_size": 100
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Post Quotes",
        "description": "Get quotes for a larger list of symbols",
        "operationId": "brokerage-api-markets-post-quotes",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "symbols"
                ],
                "properties": {
                  "symbols": {
                    "type": "string",
                    "description": "A comma-separated list of symbols"
                  },
                  "greeks": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include greek calculations for options"
                  },
                  "includeLotSize": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include lot size information"
                  }
                }
              },
              "example": {
                "symbols": "AAPL,SPY,QQQ,MSFT,AMZN,FB,GOOG,TSLA,NFLX,BABA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/options/chains": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Options Chains",
        "description": "Get option chains for a specific underlying symbol and expiration date. Greek and IV data is included courtesy of ORATS. Please check out their APIs for more in-depth options data.",
        "operationId": "brokerage-api-markets-get-options-chains",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The underlying security symbol",
            "example": "AAPL"
          },
          {
            "name": "expiration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The expiration date (YYYY-MM-DD)",
            "example": "2021-04-16"
          },
          {
            "name": "greeks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include greek calculations"
          }
        ],
        "responses": {
          "200": {
            "description": "Options chains information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsChainResponse"
                },
                "example": {
                  "options": {
                    "option": [
                      {
                        "symbol": "AAPL210416C00125000",
                        "description": "AAPL Apr 16 2021 $125.00 Call",
                        "exch": "Z",
                        "type": "option",
                        "last": 3.45,
                        "change": 0.3,
                        "volume": 1105,
                        "open": 3.25,
                        "high": 3.5,
                        "low": 3.25,
                        "close": 3.15,
                        "bid": 3.4,
                        "ask": 3.45,
                        "underlying": "AAPL",
                        "strike": 125,
                        "change_percentage": 9.52,
                        "average_volume": 1120,
                        "last_volume": 10,
                        "trade_date": 1612196262,
                        "prevclose": 3.15,
                        "week_52_high": 5,
                        "week_52_low": 0.75,
                        "bidsize": 36,
                        "bidexch": "P",
                        "bid_date": 1612196200,
                        "asksize": 75,
                        "askexch": "P",
                        "ask_date": 1612196200,
                        "open_interest": 8249,
                        "contract_size": 100,
                        "expiration_date": "2021-04-16",
                        "expiration_type": "standard",
                        "option_type": "call",
                        "root_symbol": "AAPL"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/options/strikes": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Options Strikes",
        "description": "Get available strike prices for a specific underlying symbol and expiration date",
        "operationId": "brokerage-api-markets-get-options-strikes",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The underlying security symbol",
            "example": "AAPL"
          },
          {
            "name": "expiration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The expiration date (YYYY-MM-DD)",
            "example": "2021-04-16"
          }
        ],
        "responses": {
          "200": {
            "description": "Available strike prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrikesResponse"
                },
                "example": {
                  "strikes": {
                    "strike": [115, 120, 125, 130, 135]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/options/expirations": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Options Expirations",
        "description": "Get available expiration dates for a specific underlying symbol",
        "operationId": "brokerage-api-markets-get-options-expirations",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The underlying security symbol",
            "example": "AAPL"
          },
          {
            "name": "includeAllRoots",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include all option roots"
          },
          {
            "name": "strikes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include strikes in response"
          },
          {
            "name": "contractSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include contract size in response"
          },
          {
            "name": "expirationType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include expiration type in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Available expiration dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpirationsResponse"
                },
                "example": {
                  "expirations": {
                    "date": [
                      "2021-02-05",
                      "2021-02-12",
                      "2021-02-19",
                      "2021-02-26",
                      "2021-03-19",
                      "2021-04-16",
                      "2021-06-18",
                      "2021-09-17",
                      "2022-01-21",
                      "2022-06-17",
                      "2023-01-20"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/options/lookup": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Lookup Options Symbols",
        "description": "Get all options symbols for the given underlying. This will include additional option roots (ex. SPXW, RUTW) if applicable.",
        "operationId": "brokerage-api-markets-get-lookup-options-symbols",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "underlying",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The underlying security symbol",
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Option symbols information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsLookupResponse"
                },
                "example": {
                  "options": {
                    "option": [
                      {
                        "symbol": "AAPL210416C00125000",
                        "rootsymbol": "AAPL",
                        "strike": 125,
                        "date": "2021-04-16",
                        "type": "call",
                        "description": "AAPL Apr 16 2021 $125.00 Call"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/options/greeks": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Option Greeks",
        "description": "Get all greeks in an option chain",
        "operationId": "brokerage-api-markets-get-realtime-greeks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Underlying symbol of the chain",
            "example": "VXX"
          },
          {
            "name": "expiration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Expiration for the chain (YYYY-MM-DD)",
            "example": "2019-05-17"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "put",
                "call"
              ]
            },
            "description": "Option type"
          }
        ],
        "responses": {
          "200": {
            "description": "Option greeks information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GreeksResponse"
                },
                "example": {
                  "greeks": {
                    "greek": [
                      {
                        "symbol": "AAPL220617C01150000",
                        "delta": 0.970551516628089,
                        "gamma": 0.000428618335420228,
                        "theta": -0.006044673748036,
                        "vega": 0.246139985449359,
                        "rho": 0.785110334501761,
                        "phi": -1.8671208151182,
                        "bid_iv": 0,
                        "mid_iv": 0,
                        "ask_iv": 0.531752311300829,
                        "smv_vol": 0.452,
                        "updated_at": "2020-05-27T19:59:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/history": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get historical pricing for a security.",
        "description": "Get historical pricing for a specific security. This data will usually cover the entire lifetime of the company if sending reasonable start/end times. You can fetch historical pricing for options by passing the OCC option symbol (ex. AAPL220617C00270000) as the symbol.",
        "operationId": "brokerage-api-markets-get-history",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The security symbol",
            "example": "AAPL"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "daily"
            },
            "description": "The interval for the data"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The start date for the data (YYYY-MM-DD)",
            "example": "2020-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The end date for the data (YYYY-MM-DD)",
            "example": "2021-01-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical pricing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketHistoryResponse"
                },
                "example": {
                  "history": {
                    "day": [
                      {
                        "date": "2020-01-02",
                        "open": 76.84,
                        "high": 77.15,
                        "low": 76.19,
                        "close": 77.05,
                        "volume": 53852941
                      },
                      {
                        "date": "2020-01-03",
                        "open": 76.17,
                        "high": 76.62,
                        "low": 75.56,
                        "close": 76.08,
                        "volume": 55385580
                      }
                    ],
                    "symbol": "AAPL"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/timesales": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Time & Sales",
        "description": "Time and Sales (timesales) is typically used for charting purposes. It captures pricing across a time slice at predefined intervals. Tick data is also available through this endpoint. This results in a very large data set for high-volume symbols, so the time slice needs to be much smaller to keep downloads time reasonable.",
        "operationId": "brokerage-api-markets-get-timesales",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The security symbol",
            "example": "AAPL"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tick",
                "1min",
                "5min",
                "15min"
              ],
              "default": "tick"
            },
            "description": "The interval for the data"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The start date/time for the data (YYYY-MM-DD HH:MM)",
            "example": "2021-02-01 09:30"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The end date/time for the data (YYYY-MM-DD HH:MM)",
            "example": "2021-02-01 16:00"
          },
          {
            "name": "session_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "all"
              ],
              "default": "all"
            },
            "description": "Filter pre/post market data"
          }
        ],
        "responses": {
          "200": {
            "description": "Time and sales data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSalesResponse"
                },
                "example": {
                  "series": {
                    "data": [
                      {
                        "time": "2021-02-01 09:30:00",
                        "price": 132.04,
                        "open": 132.04,
                        "high": 132.15,
                        "low": 131.95,
                        "close": 132.05,
                        "volume": 1234567
                      },
                      {
                        "time": "2021-02-01 09:31:00",
                        "price": 132.12,
                        "open": 132.05,
                        "high": 132.2,
                        "low": 132,
                        "close": 132.12,
                        "volume": 987654
                      }
                    ],
                    "symbol": "AAPL"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/etb": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get ETB Securities",
        "description": "The ETB list contains securities that are able to be sold short with a Tradier Brokerage account. The list is quite comprehensive and can result in a long download response time.",
        "operationId": "brokerage-api-markets-get-etb",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Easy to borrow securities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EtbResponse"
                },
                "example": {
                  "securities": {
                    "security": [
                      {
                        "symbol": "AAPL"
                      },
                      {
                        "symbol": "SPY"
                      },
                      {
                        "symbol": "QQQ"
                      },
                      {
                        "symbol": "MSFT"
                      },
                      {
                        "symbol": "AMZN"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/clock": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Market Clock",
        "description": "Get the intraday market status. This call will change and return information pertaining to the current day. If programming logic on whether the market is open/closed – this API call should be used to determine the current state.",
        "operationId": "brokerage-api-markets-get-clock",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Market status and times",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClockResponse"
                },
                "example": {
                  "clock": {
                    "date": "2026-01-21",
                    "description": "Market is open from 09:30 to 16:00",
                    "state": "open",
                    "timestamp": 1769019628,
                    "next_change": "16:00",
                    "next_state": "postmarket"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/calendar": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Market Calendar",
        "description": "Get the market calendar for current or a specific month",
        "operationId": "brokerage-api-markets-get-calendar",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "description": "The calendar month (1-12)",
            "example": 2
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2050
            },
            "description": "The calendar year",
            "example": 2021
          }
        ],
        "responses": {
          "200": {
            "description": "Market calendar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarResponse"
                },
                "example": {
                  "calendar": {
                    "days": {
                      "day": [
                        {
                          "date": "2021-02-01",
                          "status": "open",
                          "description": "Market is open",
                          "premarket": {
                            "start": "04:00",
                            "end": "09:30"
                          },
                          "open": {
                            "start": "09:30",
                            "end": "16:00"
                          },
                          "postmarket": {
                            "start": "16:00",
                            "end": "20:00"
                          }
                        },
                        {
                          "date": "2021-02-06",
                          "status": "closed",
                          "description": "Market is closed"
                        }
                      ]
                    },
                    "month": 2,
                    "year": 2021
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Market Search",
        "description": "Search for securities by partial match on symbol or company name. Results are in descending order by average volume of the security. This can be used for simple search functions",
        "operationId": "brokerage-api-markets-get-search",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The search query (symbol or name)",
            "example": "app"
          },
          {
            "name": "indexes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include indices in the results"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "securities": {
                    "security": [
                      {
                        "symbol": "AAPL",
                        "exchange": "Q",
                        "type": "stock",
                        "description": "Apple Inc"
                      },
                      {
                        "symbol": "APPL",
                        "exchange": "A",
                        "type": "stock",
                        "description": "Appell Petroleum Corp"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/lookup": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get Market Lookup",
        "description": "Search for a symbol using the ticker symbol or partial symbol. Results are in descending order by average volume of the security. This can be used for simple search functions.",
        "operationId": "brokerage-api-markets-get-lookup",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The lookup query (symbol or name)",
            "example": "apple"
          },
          {
            "name": "exchanges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Q",
                "N",
                "A",
                "B",
                "C",
                "P",
                "I",
                "M",
                "W",
                "Z"
              ]
            },
            "description": "Filter for specific exchanges"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "stock",
                "etf",
                "index"
              ]
            },
            "description": "Filter for specific security types"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                },
                "example": {
                  "securities": {
                    "security": [
                      {
                        "symbol": "AAPL",
                        "exchange": "Q",
                        "type": "stock",
                        "description": "Apple Inc"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/markets/events/session": {
      "post": {
        "tags": [
          "Streaming"
        ],
        "summary": "Create Market Session",
        "description": "Create a session for streaming market data",
        "operationId": "brokerage-api-streaming-create-market-session",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successfully created market streaming session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingSessionResponse"
                },
                "example": {
                  "stream": {
                    "url": "wss://ws.tradier.com/v1/markets/events",
                    "sessionid": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/accounts/events/session": {
      "post": {
        "tags": [
          "Streaming"
        ],
        "summary": "Create Account Session",
        "description": "Create a session for streaming account-specific events",
        "operationId": "brokerage-api-streaming-create-account-session",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content" : {}
        },
        "responses": {
          "200": {
            "description": "Successfully created account streaming session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingSessionResponse"
                },
                "example": {
                  "stream": {
                    "url": "wss://ws.tradier.com/v1/accounts/events",
                    "sessionid": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/watchlists": {
      "get": {
        "tags": [
          "Watchlists"
        ],
        "summary": "Get All Watchlists",
        "description": "Retrieve all of a user's watchlists",
        "operationId": "brokerage-api-watchlists-get-watchlists",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user watchlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistsResponse"
                },
                "example": {
                  "watchlists": {
                    "watchlist": [
                      {
                        "name": "default",
                        "id": "default",
                        "public_id": "public-atea42pd"
                      },
                      {
                        "name": "a c d",
                        "id": "a-c-d",
                        "public_id": "public-5672lg0a"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Watchlists"
        ],
        "summary": "Create Watchlist",
        "description": "Create a new watchlist. The new watchlist created will use the specified name and optional symbols upon creation.",
        "operationId": "brokerage-api-watchlists-create-watchlist",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/AcceptHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "symbols"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A watchlist name"
                  },
                  "symbols": {
                    "type": "string",
                    "description": "Comma-delimited list of symbols to add to watchlist"
                  }
                }
              },
              "example": {
                "name": "My Watchlist",
                "symbols": "AAPL,IBM,NFLX"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Watchlist created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistResponse"
                },
                "example": {
                  "watchlist": {
                    "name": "My Watchlist",
                    "id": "my_watchlist",
                    "public_id": "public-6f8f625wti",
                    "items": {
                      "item": [
                        {
                          "symbol": "AAPL",
                          "id": "aapl"
                        },
                        {
                          "symbol": "IBM",
                          "id": "ibm"
                        },
                        {
                          "symbol": "NFLX",
                          "id": "nflx"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/watchlists/{watchlist_id}": {
      "get": {
        "tags": [
          "Watchlists"
        ],
        "summary": "Get Specific Watchlist",
        "description": "Retrieve a specific watchlist by id",
        "operationId": "brokerage-api-watchlists-get-specific-watchlist",
        "security": [
          {
[...]
